<div class="card border-light mb-3">

    <!-- Card header -->

    <div class="card-header">
      <div class="row">
          <div class="col">
            <h4>Listado de regiones</h4>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary" style="float: right;" (click)="showModalForm()">
              <i class="ph ph-plus-circle"></i>
              Agregar región
            </button>
          </div>
      </div>
    </div>

    <!-- Card body -->

    <div class="card-body">

        <!-- Region table  -->

        <table class="table">
            <thead class="thead-dark">
              <tr class="table-primary">
                  <th>Id</th>
                  <th>Código</th>
                  <th>Región</th>
                  <th>Estatus</th>
                  <th>Más</th>
              </tr>
            </thead>
            <tbody>
                @for(region of regions; track region; let i = $index ) {
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ region.code }}</td>
                        <td>{{ region.region }}</td>
                        <td>
                          <div class="td-status" [ngClass]="{'td-status-enable': region.status == 1, 'td-status-disable': region.status == 0}" >
                            {{ region.status == 0 ? "Inactivo" : "Activo" }}
                            </div>
                        </td>

                        <td>
                          <div class="dropdown">
                            <!-- dots button  -->
                            <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
                            </button>
        
        
                            <!-- menu options -->
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" (click)="updateRegion(region)">
                                <i class="ph ph-note-pencil icon-text-ul"></i>Editar
                              </a>
                              <a *ngIf="region.status == 0" class="dropdown-item enable-item" (click)="enableRegion(region.region_id)">
                                <i class="ph ph-check-circle icon-text-ul"></i>Activar
                              </a>
                              <a *ngIf="region.status == 1" class="dropdown-item disable-item" (click)="disableRegion(region.region_id)">
                                <i class="ph ph-x-circle icon-text-ul"></i>Desactivar
                              </a>
                            </div>
                          </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal form  -->

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="modalForm">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Región</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <!-- Region form  -->
            
            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <!-- Code  -->

                <div class="mb-3">
                  <label for="code" class="form-label">Código</label>
                  <input type="text" class="form-control" formControlName="code" placeholder="Código de la región"
                    [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}" >

                  @if (form.controls['code'].errors && submitted) {
                    <small class="input-error-message">Favor de ingresar un código de región válido</small>
                  }
                </div>

                <!-- Region  -->

                <div class="mb-3">
                  <label for="region" class="form-label">Región</label>
                  <input type="text" class="form-control" formControlName="region" placeholder="Nombre de la región"
                    [ngClass]="{'is-invalid': form.controls['region'].errors && submitted}" >

                  @if (form.controls['region'].errors && submitted) {
                    <small class="input-error-message">Favor de ingresar un nombre de región válido</small>
                  }
               
                </div>

                <!-- Button  -->

                <div class="form-button">
                    <button type="submit" class="btn btn-primary btn-new">Guardar</button>
                </div>
              
            </form>
        </div>
      </div>
    </div>
  </div>