.card-body-customer{
    padding: 16px;
}

.customer-image{
    border-radius: 100%;
    width: 240px;
    height: 240px;
}

.edit-customer{
    color: blue;
    cursor: pointer;
    float: right;
    margin-right: 16px;
}

.edit-customer-image{
    color: blue;
    margin-bottom: 16px;
}

.customer-title{
    font-size: 32px;
    margin-bottom: 16px;
}