@model ProyectoFinal.Models.Comic

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RutaImagen" class="control-label"></label>
        <input asp-for="RutaImagen" class="form-control" />
        <span asp-validation-for="RutaImagen" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
