<div class="card border-light mb-3">

    <!-- Card header -->

    <div class="card-header">
      <div class="row">
          <div class="col">
            <h4>Listado de facturas</h4>
          </div>
      </div>
    </div>

    <!-- Card body -->

    <div class="card-body">

        <!-- Invoice table  -->

        <table class="table">
            <thead class="thead-dark">
              <tr class="table-primary">
                <th>No.</th>
                <th>Código</th>
                <th>Monto total</th>
                <th>Fecha de compra</th>
                <th>Más</th>
              </tr>
            </thead>
            <tbody>
                @for(invoice of invoices; track invoice; let i = $index ) {
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ invoice.invoice_id }}</td>
                        <td>{{ invoice.total | currency: 'USD' }}</td>
                        <td>{{ invoice.created_at | date: 'dd/MM/yyyy' }}</td>

                        <td>
                          <div class="dropdown">
                            <!-- dots button  -->
                            <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
                            </button>
        
        
                            <!-- menu options -->
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item">
                                    <i class="ph ph-eye icon-text-ul"></i>Ver detalles
                                </a>
                            </div>
                          </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>