<div class="card border-light mb-3">

    <!-- Card header -->

    <div class="card-header">
      <div class="row">
          <div class="col">
            <h4>Listado de clientes</h4>
          </div>
          <div class="col">
            <button type="button" class="btn btn-primary" style="float: right;" (click)="showModalForm()">
              <i class="ph ph-plus-circle"></i>
              Agregar cliente
            </button>
          </div>
      </div>
    </div>

    <!-- Card body -->

    <div class="card-body">

        <!-- Customer table  -->

        <table class="table">
            <thead class="thead-dark">
              <tr class="table-primary">
                  <th>No.</th>
                  <th>RFC</th>
                  <th>Nombre</th>
                  <th>Estatus</th>
                  <th>Más</th>
              </tr>
            </thead>
            <tbody>
                @for(customer of customers; track customer; let i = $index ) {
                    <tr>
                        <td>{{ i + 1 }}</td>
                        <td>{{ customer.rfc }}</td>
                        <td>{{ customer.name + " " + customer.surname }}</td>
                        <td>
                          <div class="td-status" [ngClass]="{'td-status-enable': customer.status == 1, 'td-status-disable': customer.status == 0}" >
                            {{ customer.status == 0 ? "Inactivo" : "Activo" }}
                            </div>
                        </td>

                        <td>
                          <div class="dropdown">
                            <!-- dots button  -->
                            <button class="dropdown-button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                              <i class="ph ph-dots-three-outline-vertical icon-menu"></i>
                            </button>
        
        
                            <!-- menu options -->
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" (click)="showCustomer(customer.rfc)">
                                <i class="ph ph-eye icon-text-ul"></i>Ver detalles
                              </a>
                              <a *ngIf="customer.status == 0" class="dropdown-item enable-item" (click)="enableCustomer(customer.customer_id)">
                                <i class="ph ph-check-circle icon-text-ul"></i>Activar
                              </a>
                              <a *ngIf="customer.status == 1" class="dropdown-item disable-item" (click)="disableCustomer(customer.customer_id)">
                                <i class="ph ph-x-circle icon-text-ul"></i>Desactivar
                              </a>
                            </div>
                          </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal form  -->

<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="modalForm">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <!-- Customer form  -->
          
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

          
              <div class="row">

                  <!-- name  -->
  
                  <div class="col-md-6">
                      <div class="mb-3">
                        <label for="name">Nombre <span class="color-red">*</span> </label>
                        <input type="text" class="form-control" formControlName="name" id="name" placeholder="Nombre del cliente..." 
                            [ngClass]="{'is-invalid': form.controls['name'].errors && submitted}" >
                        @if (form.controls['name'].errors && submitted) {
                          <small class="input-error-message">Favor de ingresar un nombre válido</small>
                        }
                      </div>
                  </div>
        
                  <!-- surname  -->
        
                  <div class="col-md-6"> 
                      <div class="mb-3">
                        <label for="surname">Apellidos <span class="color-red">*</span> </label>
                        <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Apellidos del cliente..." 
                            [ngClass]="{'is-invalid': form.controls['surname'].errors && submitted}" >
                        @if (form.controls['surname'].errors && submitted) {
                          <small class="input-error-message">Favor de ingresar apellidos válidos</small>
                        }
                      </div>
                  </div>
        
                  <!-- rfc  -->
        
                  <div class="col-md-6"> 
                      <div class="mb-3">
                        <label for="rfc">RFC <span class="color-red">*</span> </label>
                        <input type="text" class="form-control" formControlName="rfc" id="rfc" placeholder="RFC del cliente..." 
                            [ngClass]="{'is-invalid': form.controls['rfc'].errors && submitted}" >
                        @if (form.controls['rfc'].errors && submitted) {
                          <small class="input-error-message">Favor de ingresar un rfc válido</small>
                        }
                      </div>
                  </div>
        
                  <!-- mail  -->
        
                  <div class="col-md-6"> 
                      <div class="mb-3">
                        <label for="mail">Correo electrónico <span class="color-red">*</span> </label>
                        <input type="text" class="form-control" formControlName="mail" id="mail" placeholder="Correo electrónico del cliente..." 
                            [ngClass]="{'is-invalid': form.controls['mail'].errors && submitted}" >
                        @if (form.controls['mail'].errors && submitted) {
                          <small class="input-error-message">Favor de ingresar un correo electrónico válido</small>
                        }
                      </div>
                  </div>  
        
                  <!-- region_id  -->
        
                  <div class="col-md-6"> 
                      <div class="mb-3">
                        <label for="region_id">Región <span class="color-red">*</span> </label>
                        <select class="form-select" formControlName="region_id" id="region_id"
                            [ngClass]="{'is-invalid': form.controls['region_id'].errors && submitted}">
                          <option [ngValue]=null hidden>Selecciona una región...</option>
                          @for(region of regions; track region) {
                            <option [ngValue]="region.region_id">{{ region.region }}</option>
                          }
                        </select>
                        @if (form.controls['region_id'].errors && submitted) {
                          <small class="input-error-message">Favor de seleccionar una región válida</small>
                        }
                      </div>
                  </div>
        
                  <!-- address  -->
        
                  <div class="mb-3">
                    <label for="address">Dirección <span class="color-red">*</span> </label>
                    <textarea rows="2" class="form-control" formControlName="address" id="address" placeholder="Dirección del cliente..." 
                      [ngClass]="{'is-invalid': form.controls['address'].errors && submitted}" >
                    </textarea>
                    @if (form.controls['address'].errors && submitted) {
                      <small class="input-error-message">Favor de ingresar una dirección válida</small>
                    }
                  </div>
              </div>
    
              <!-- button  -->
              
              <div class="form-button">
                <button type="submit" class="btn btn-primary btn-new">Guardar</button>
              </div>
    
            </form>

      </div>
    </div>
  </div>
</div>